@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../public/images/bg-simplify-section-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    font-family: "Be Vietnam Pro", serif;
}

.wrapper {
    width: 88%;
    margin-inline: auto;
}

.section-gap {
    margin-top: 6em;
}

.get-started {
    background-color: #F3603C;
    color: white;
    padding: 1em;
    padding-inline: 2em;
    border-radius: 3em;
    font-weight: 700;
}

.get-started:hover {
    opacity: 0.8;
}

.section-header {
    font-size: 2rem;
    font-weight: 700;
    color: #242D52;
}

.text-different {
    color: #242D52;
    opacity: .5;
    font-size: .9rem;
    margin-bottom: 3em;
    font-weight: 400;
}

.num {
    color: white;
    background-color: #F3603C;
    padding: .5em;
    padding-inline: 1.5em;
    font-weight: 700;
    border-radius: 2em;
    margin-left: -5px;
}

.list-header {
    color: #242D52;
    font-weight: 700;
    padding: .5em;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 3em;
    margin-bottom: 1em;
}

.list-item {
    display: flex;
    align-items: start;
    gap: .75em;
}

.btn-white {
    background-color: white;
    color: #F3603C;
    padding: 1em;
    padding-inline: 3em;
    border-radius: 3em;
    font-weight: 700;

}

.cursel {
    background-color: #FAFAFA;
    min-width: 640px;
    text-align: center;
    line-height: 1.6em;
}
.cursel:first-child {
    margin-left: -60px;
}

.cursel-image {
    width: 72px;
    height: 72px;
    margin-top: -36px;
    margin-inline: auto;
}
.cursel-header {
    padding-bottom: 20px;
}
.cursel-text {
    padding: 24px 40px;
}
.cursel .text-different {
    font-size: 1rem;
}
.section-gap:has(.cursel) .get-started {
    display: block;
}
