@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../public/images/bg-simplify-section-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
}

.wrapper {
    width: 90%;
    margin-inline: auto;
}

.section-gap {
    margin-top: 6em;
}

.get-started {
    background-color: #F3603C;
    color: white;
    padding: 1em;
    padding-inline: 2.5em;
    border-radius: 3em;
}

.section-header {
    font-size: 2rem;
}

.text-different {
    color: #242D52;
    opacity: .5;
    font-size: .9rem;
    margin-bottom: 3em;
}

.num {
    color: white;
    background-color: #F3603C;
    padding: .8em;
    font-weight: 700;
    padding-inline: 2em;
    border-radius: 2em;
    margin-left: -5px;
}

.list-header {
    background-color: #FFF0EC;
    padding: .5em;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 3em;
    margin-bottom: 1em;
}
